CASPIANII/SDM/Data/
CASPIANII/SDM/Grafiken/
*.docx
*.pdf
*.odt
*.xlsx
CASPIANII/.*
Admin/
WorkingDocs/
.Rproj.user
*.png
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_EUIAS.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_EUIAS.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_EUIAS.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_EUIAS.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_HanL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_HanL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_HanL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_HanL.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_ManL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_ManL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_ManL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_ManL.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_AktL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_AktL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_AktL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_AktL.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_BeoL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_BeoL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_BeoL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_BeoL.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_EUIAS.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_EUIAS.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_EUIAS.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_EUIAS.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_HanL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_HanL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_HanL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_HanL.shx
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_ManL.dbf
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_ManL.prj
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_ManL.shp
CASPIANII/Shiny/Daten/alt/AnzahlNeobiota_ist_Kreise_simpl_ManL.shx
CASPIANII/Shiny/Daten/alt/Liste_PotSpez_Kreise.rds
CASPIANII/Shiny/Daten/alt/Liste_PotSpez_Kreise_BeoL.rds
CASPIANII/Shiny/Daten/alt/Liste_PotSpez_Kreise_EUIAS.rds
CASPIANII/Shiny/Daten/alt/Liste_PotSpez_Kreise_HanL.rds
CASPIANII/Shiny/Daten/alt/Liste_PotSpez_Kreise_ManL.rds
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise_AktL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise_BeoL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise_EUIAS.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise_HanL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_Liste_Kreise_ManL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise_AktL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise_BeoL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise_EUIAS.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise_HanL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_ist_nSpez_Kreise_ManL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Gemeinden.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise_AktL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise_BeoL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise_EUIAS.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise_HanL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_IstPot_Liste_Kreise_ManL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise_AktL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise_BeoL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise_EUIAS.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise_HanL.gz
CASPIANII/Shiny/Daten/alt/Neobiota_pot_Liste_Kreise_ManL.gz
