CASPIANII/SDM/Data/
CASPIANII/SDM/Grafiken/
*.docx
*.pdf
*.odt
*.xlsx
*.csv
*.gz
*.shp
*.prj
*.shx
*.cpg
*.dbf
*.html
*.tif
*.Rhistory
CASPIAN/CASPIAN_*
SDM/Daten/Input/*.RData
Admin/
WorkingDocs/
WorkingFiles/
.Rproj.user
*.png
